@media screen and (min-width: 768px) {
	.analog-custom-library-wrapper {
		display: grid;
		grid-template-columns: 8fr 3fr;
		column-gap: 40px;
	}

	body.custom-library_page_analog-custom-library-settings .wrap {
		margin: 0;
		padding: 20px 30px 30px;
	}
}

body.custom-library_page_analog-custom-library-settings #wpcontent {
	padding: 0;
}

body.custom-library_page_analog-custom-library-settings .wrap {
	margin: 0;
	padding: 40px 60px 60px;
}

.ang-custom-library .menu-title {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.2;
}

.analog-custom-library-wrapper > form {
	background: #fff;
	border-radius: 8px;
}

.analog-custom-library-wrapper > form .tab-content {
	padding: 30px;
}

.analog-custom-library-wrapper .analog-custom-library-nav-tab-wrapper {
	border-bottom: 1px solid #E2E2E4;
	padding: 0;
}
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab {
	padding: 16px 24px;
	display: inline-block;
	text-decoration: none;
	color: #646970;
	font-size: 16px;
	line-height: 1.4;
}
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab-active {
	border-bottom: 2px solid #0073AA;
	color: #0073AA;
}

.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab:hover,
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab:active,
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab:focus {
	color: #0073AA;
	outline: none;
	box-shadow: none;
}

.ang-custom-library .tab-content .title {
	color: #3C434A;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}

.ang-custom-library .tab-content .titledesc {
	color: #3C434A;
}

.ang-custom-library .forminp .description {
	display: block;
	margin-top: 10px;
}

.ang-custom-library .forminp-button {
	padding: 15px 10px;
	display: flex;
	gap: 10px;
	align-items: center;
}


.ang-custom-library .forminp-button .description {
	margin-top: 0;
}

.ang-custom-library .collapsible {
	border: none;
	border-top: 1px solid #e2e4e7;
	border-bottom: 1px solid #e2e4e7;
	background-color: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	font-weight: 600;
	text-align: left;
	box-shadow: none;
	cursor: pointer;
}

.ang-custom-library .collapsible:after, .ang-custom-library .collapsible.active:after {
	font-family: 'Dashicons';
	font-size: 20px;
	color: #000;
	float: right;
	margin-left: 5px;
}

.ang-custom-library .collapsible:after {
	content: "\f140";
}

.ang-custom-library .collapsible.active:after {
	content: "\f142";;
}

.ang-custom-library .collapsible.active, .ang-custom-library .collapsible:hover {
	background-color: #fff;
}

.ang-custom-library .collapsible-content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.ang-custom-library .ang-custom-library-enhanced-select {
	min-width: 150px;
}

.ang-custom-library .forminp-multi-checkbox {
	padding: 0 !important;
}

.ang-custom-library .forminp-multi-checkbox fieldset > ul {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
}

.ang-custom-library .forminp-multi-checkbox fieldset > ul li {
	margin-bottom: 0;
}

.ang-custom-library .forminp-multi-checkbox fieldset > ul label {
	display: flex;
	align-items: center;
	gap: 6px;
}

.ang-custom-library .forminp-multi-checkbox fieldset > ul label p {
	line-height: 1;
	margin: 0;
}

.ang-custom-library .forminp-color {
	display: flex;
	align-items: center;
	gap: 10px;
}

.ang-custom-library .forminp-color .wp-picker-container {
	position: relative;
}

.ang-custom-library .forminp-color .wp-picker-container .wp-color-result {
	margin-bottom: 0;
}

.ang-custom-library .forminp-color .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.ang-custom-library .forminp-color .wp-picker-container.wp-picker-active .wp-picker-holder {
	position: absolute;
	top: 40px;
	z-index: 999;
}

.ang-custom-library .forminp-color p {
	margin: 0;
}

.ang-custom-library input[type="number"] {
	max-width: 60px;
	margin-right: 8px;
	width: 100%;
	padding-right: 0;
}

/**
 * Sidebar
 */
.ang-custom-library .sidebar .plugin-banner,
.ang-custom-library .sidebar .promo,
.ang-custom-library .sidebar .upgrade-box {
	background: #fff;
	border-radius: 8px;
	padding: 30px 30px 25px;
	margin-bottom: 30px;
}

.ang-custom-library .sidebar .plugin-banner .header,
.ang-custom-library .sidebar .plugin-banner .header .brand  {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	justify-items: center;
	align-items: center;
}

.ang-custom-library .sidebar .plugin-banner .header {
	margin-bottom: 20px;
}

.ang-custom-library .sidebar .plugin-banner .header .brand h4 {
	font-size: 18px;
	line-height: 1.4;
	margin: 0;
}

.ang-custom-library .sidebar .plugin-banner .header .brand .version {
	margin: 0;
}

.ang-custom-library .sidebar .plugin-banner .feature-list li {
	padding: 16px 0;
	border-top: 1px solid #E2E2E4;
}

.ang-custom-library .sidebar .social {
	display: flex;
	gap: 15px;
}


.ang-custom-library .sidebar .upgrade-box {
	margin-top: 0;
	background: #fff;
	border: 1px solid #dcdcdc;
	margin-bottom: 30px;

	.ang-discount-response {
		font-style: italic;
		font-weight: 500;
		color: #602BC2;
	}

	&.special {
		border-color:#602BC2;
		background: #E1D5F6;
		
		h3 {
			margin: 0;
			font-size: 18px;
			color:#602BC2;
			line-height: 1.5;
		}

		h3 + p {
			font-size: 15px;
		}

		 input[type="email"]:focus,
		 input[type="text"]:focus {
			border-color:#602BC2;
			box-shadow: 0 0 0 1px #602BC2;
		 }

		.button,
		.button-secondary {
			background-color:#602BC2;
			border-color:#602BC2;
			color:#fff;

			&:hover,
			&:focus {
				box-shadow: none;
			}
		}

		a {
			color:currentColor;
		}
	}

	.regular-text {
		width: 100%;
		margin-bottom: 10px;
	}
}

.ang-custom-library .upgrade-box + .promo {
	margin-top: 30px;
}

.ang-custom-library .sidebar .form-newsletter input {
	width: 100%;
}

.ang-custom-library .sidebar .form-newsletter .ang-custom-library-button {
	margin-top: 10px;
}

.ang-custom-library .sidebar .social > a {
	text-decoration: none;
}

.ang-custom-library-save-button.button-primary {
	background: #0073AA;
	padding: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
}

.ang-custom-library .forminp-multiselect > * {
	display: block;
	margin-bottom: 8px;
}

.ang-custom-library .forminp-multiselect select {
	width: 100%;
	max-width: 400px;
}

.ang-custom-library .forminp-multiselect .select2-container {
	width: auto !important;
}

/**
 * Notices
 */
.ang-custom-library .notice-success,
.ang-custom-library div.updated {
	border: none;
	border-left: solid 4px #0073AA;
	border-radius: 4px;
	background: #CCEEFF;
	box-shadow: none;
	color: #0073AA;
}

/**
 * Form
 */
.ang-custom-library .form-table td {
	padding: 15px 0 !important;
}

.ang-custom-library .form-table th + td {
	padding: 15px 10px;
}

.ang-custom-library .forminp-radio ul {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
}

.ang-custom-library .forminp-media-image {
	display: flex;
	gap: 15px;
	align-items: center;
}

.ang-custom-library .forminp-media-image .media-image {
	height: auto;
	width: 120px;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #E0E0E0;
}

.ang-custom-library .forminp-action-button .description {
	margin-top: 0;
	margin-bottom: 10px;
}

.ang-custom-library .forminp-media-image .analog-custom-library-remove-image-btn {
	margin-left: 10px;
}

.ang-custom-library.import-export .tab-content .submit,
.ang-custom-library.tools .tab-content .submit,
.ang-custom-library.version-control .tab-content .submit {
	display: none;
}

.ang-custom-library.import-export .forminp-import-templates .description,
.ang-custom-library.import-export .forminp-export-templates .description {
	margin-top: 0;
	margin-bottom: 10px;
}

.ang-custom-library .forminp-action-button #update_outdated_templates:before {
	font: normal 20px / 0.5 dashicons;
	speak: none;
	display: inline-block;
	padding: 0;
	inset-block-start: 8px;
	inset-inline-start: -4px;
	position: relative;
	vertical-align: top;
	content: "\f463";
}

.ang-custom-library .forminp-action-button #update_outdated_templates.loading:before {
	animation: spinner-rotation 1s infinite linear;
}

.ang-custom-library .forminp-action-button #update_outdated_templates.success:before {
	content: "\f147";
  color: #46b450;
}

.ang-custom-library .pro-tag {
	display: inline-block;
	background: #4D45BD;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 5px;
	padding: 4px 6px;
	color: #fff;
	border: 2px solid transparent;
}

/**
 * Promo.
 */
.ang-custom-library *[class*="forminp-promo-"] .pro-tag:hover,
.ang-custom-library *[class*="forminp-promo-"] .pro-tag:focus,
.ang-custom-library *[class*="forminp-promo-"] .pro-tag:active {
	background: transparent;
	border-color: #4D45BD;
	color: #4D45BD !important;
	box-shadow: none;
	outline: none;
}

.ang-custom-library .promo-btn {
	pointer-events: none;
	cursor: default;
}

.ang-custom-library td[class*=" forminp-promo-"] {
	opacity: 0.7;
}

.ang-custom-library td[class*=" forminp-promo-"] input:disabled {
	box-shadow: none;
	border-radius: 4px;
	border: 1px solid #8c8f94;
	padding: 8px 8px;
}

.ang-custom-library td[class*=" forminp-promo-"] input[type="submit"]:disabled {
	padding: 5px 16px;
}

.ang-custom-library td[class*=" forminp-promo-"] input + a {
	margin-left: 8px;
}

.ang-custom-library .forminp-promo-title a {
	text-decoration: none;
	display: flex;
	gap: 10px;
	color: currentColor;
	align-items: center;
	outline: none;
	box-shadow: none;
}

.ang-custom-library .forminp-promo-media-image {
	display: flex;
	gap: 20px;
}

.ang-custom-library .forminp-promo-radio ul,
.ang-custom-library .forminp-promo-multi-checkbox fieldset > ul {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
}

.ang-custom-library .forminp-promo-multi-checkbox fieldset > ul label,
.ang-custom-library .forminp-promo-color {
	display: flex;
	align-items: center;
	gap: 6px;
}

.ang-custom-library .forminp-promo-media-image .promo-btn {
	margin-right: 8px;
}

.ang-custom-library .forminp-promo-export-templates .description {
	margin-top: 0;
	margin-bottom: 10px;
}

/**
 * Rollback styles.
 */
.ang-custom-library #analog_custom_library_plugin_rollback_version-description + .form-table tbody {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 10px;
}

.ang-custom-library #analog_custom_library_plugin_rollback_version-description + .form-table .forminp-button {
	padding: 15px 0;
}

.ang-custom-library #analog_custom_library_plugin_rollback_version-description + .form-table .forminp.forminp-select label {
	margin-right: 20px;
}

/**
 * Animation
 */
@keyframes spinner-rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
