@media screen and (min-width: 768px) {
	.analog-custom-library-wrapper {
		display: grid;
		grid-template-columns: 8fr 3fr;
		column-gap: 40px;
	}

	#ang_plugin_rollback_version-description + .form-table tbody {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	#ang_plugin_rollback_version-description + .form-table .forminp-button {
		padding: 15px 0;
	}

	body.custom-library_page_analog-custom-library-settings .wrap {
		margin: 0;
		padding: 20px 30px 30px;
	}
}

body.custom-library_page_analog-custom-library-settings #wpcontent {
	padding: 0;
}

body.custom-library_page_analog-custom-library-settings .wrap {
	margin: 0;
	padding: 40px 60px 60px;
}

.ang-custom-library .menu-title {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.2;
}

.analog-custom-library-wrapper > form {
	background: #fff;
	border-radius: 8px;
}

.analog-custom-library-wrapper > form .tab-content {
	padding: 30px;
}

.analog-custom-library-wrapper .analog-custom-library-nav-tab-wrapper {
	border-bottom: 1px solid #E2E2E4;
	padding: 0;
}
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab {
	padding: 16px 24px;
	display: inline-block;
	text-decoration: none;
	color: #646970;
	font-size: 16px;
	line-height: 1.4;
}
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab-active {
	border-bottom: 2px solid #0073AA;
	color: #0073AA;
}

.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab:hover,
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab:active,
.analog-custom-library-nav-tab-wrapper .analog-custom-library-nav-tab:focus {
	color: #0073AA;
	outline: none;
	box-shadow: none;
}

.ang-custom-library .tab-content .title {
	color: #3C434A;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}

.ang-custom-library .tab-content .titledesc {
	color: #3C434A;
}

.ang-custom-library .forminp .description {
	display: block;
	margin-top: 10px;
}

.ang-custom-library .forminp-button {
	padding: 15px 10px;
	display: flex;
	gap: 10px;
	align-items: center;
}


.ang-custom-library .forminp-button .description {
	margin-top: 0;
}

.ang-custom-library .collapsible {
	border: none;
	border-top: 1px solid#e2e4e7;
	border-bottom: 1px solid#e2e4e7;
	background-color: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	font-weight: 600;
	text-align: left;
	box-shadow: none;
	cursor: pointer;
}

.ang-custom-library .collapsible:after, .ang-custom-library .collapsible.active:after {
	font-family: 'Dashicons';
	font-size: 20px;
	color: #000;
	float: right;
	margin-left: 5px;
}

.ang-custom-library .collapsible:after {
	content: "\f140";
}

.ang-custom-library .collapsible.active:after {
	content: "\f142";;
}

.ang-custom-library .collapsible.active, .ang-custom-library .collapsible:hover {
	background-color: #fff;
}

.ang-custom-library .collapsible-content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}


.ang-custom-library #ang-starter-kits .titledesc .header,
.ang-custom-library .ang-custom-library-starter-kits-list li {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 25px;
}

.ang-custom-library .ang-custom-library-starter-kits-list img {
	width: 160px;
	border-radius: 5px;
	height: auto;
}

.ang-custom-library .ang-custom-library-starter-kits-list .kit-title {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 10px;
}

.ang-custom-library .ang-custom-library-starter-kits-list .kit-description {
	display: inline-block;
	font-size: 14px;
	color: #50575e;
	margin-top: 0;
	margin-bottom: 20px;
}

.ang-custom-library .ang-custom-library-starter-kits-list .kit-btns > * {
	margin-right: 5px;
	margin-top: 5px;
}

.ang-custom-library #ang-starter-kits + .submit {
	display: none;
}

.ang-custom-library.gopro .submit {
	display: none;
}
.ang-custom-library.gopro .ang-custom-library-button.ang-custom-library-gopro-button {
	display: inline-block;
	margin-top: 30px;
}

.ang-custom-library.gopro h1 {
	margin-top: 15px;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.ang-custom-library.gopro .gopro-content ul {
	list-style: disc;
	list-style-position: inside;
}

.ang-custom-library.gopro .gopro-content li {
	line-height: 1.5;
}

.ang-custom-library.gopro .gopro-content p, li {
	font-size: 15px;
}

.ang-custom-library.gopro form {
	position: relative;
}

.ang-custom-library.gopro form {
	height: calc(100% - 10%);
}

@media screen and ( min-width: 1920px ) {
	.ang-custom-library.gopro form {
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.ang-custom-library.gopro form {
		padding-bottom: 250px;
	}
}

.ang-custom-library.gopro .gopro-content img {
	width: 100%;
}

.ang-custom-library.gopro .tab-content .ang-custom-library-button {
	display: inline-block;
	margin-top: 10px;
}

.ang-custom-library .ang-custom-library-enhanced-select {
	min-width: 150px;
}

.experiment-indicator {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
	-ms-flex-negative: 0;
	flex-shrink: 0;
	transform: translateY(2px);
	margin-right: 4px;
}

.experiment-indicator.active {
	background: #39b54a;
}

/**
 * Sidebar
 */
.ang-custom-library .sidebar .plugin-banner,
.ang-custom-library .sidebar .promo,
.ang-custom-library .sidebar .upgrade-box {
	background: #fff;
	border-radius: 8px;
	padding: 30px 30px 25px;
	margin-bottom: 30px;
}

.ang-custom-library .sidebar .plugin-banner .header,
.ang-custom-library .sidebar .plugin-banner .header .brand  {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	justify-items: center;
	align-items: center;
}

.ang-custom-library .sidebar .plugin-banner .header {
	margin-bottom: 20px;
}

.ang-custom-library .sidebar .plugin-banner .header .brand h4 {
	font-size: 18px;
	line-height: 1.4;
	margin: 0;
}


.ang-custom-library .sidebar .plugin-banner .feature-list li {
	padding: 16px 0;
	border-top: 1px solid #E2E2E4;
}

.ang-custom-library .sidebar .social {
	display: flex;
	gap: 15px;
}

.ang-custom-library .upgrade-box li {
	list-style: disc;
	font-size: 1.1em;
}

.ang-custom-library .upgrade-box h3 {
	line-height: 1.4em;
}

.ang-custom-library .upgrade-box .regular-text {
	width: 100%;
	margin-bottom: 8px;
}

.ang-custom-library .upgrade-box + .promo {
	margin-top: 30px;
}

.ang-custom-library .sidebar .form-newsletter input {
	width: 100%;
}

.ang-custom-library .sidebar .form-newsletter .ang-custom-library-button {
	margin-top: 10px;
}

.ang-custom-library .sidebar .social > a {
	text-decoration: none;
}

.gopro-content ul li::marker {
	font-size: 18px;
	line-height: 0;
}

.ang-custom-library-save-button.button-primary {
	background: #0073AA;
	padding: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
}

/**
 * Notices
 */
.ang-custom-library .notice-success,
.ang-custom-library div.updated {
	border: none;
	border-left: solid 4px #0073AA;
	border-radius: 4px;
	background: #CCEEFF;
	box-shadow: none;
	color: #0073AA;
}

/**
 * Form
 */
.ang-custom-library .form-table td {
	padding: 15px 0 !important;
}

.ang-custom-library .form-table th + td {
	padding: 15px 10px;
}

.ang-custom-library .forminp-radio ul {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
}

.ang-custom-library .forminp-media-image {
	display: flex;
	gap: 15px;
	align-items: center;
}

.ang-custom-library .forminp-media-image .media-image {
	height: auto;
	width: 120px;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #E0E0E0;
}


.ang-custom-library .forminp-media-image .ang-custom-library-remove-image-btn {
	margin-left: 10px;
}

