.analog-notice {
	display: flex;
	align-items: center;
}
.analog-notice .logo {
	display: inline-flex;
	margin: 5px 10px 5px 0;
	box-sizing: border-box;
	width: 40px;
	min-width: 40px;
	min-height: 40px;
	align-items: center;
	justify-content: center;
	background: #5c32b6;
	border-radius: 50%;
}
